{% load static %}
<script src="{% static "certhelper/jquery/jquery.min.js" %}"></script>
<script src="{% static "certhelper/bootstrap/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "certhelper/bootstrap/css/bootstrap.min.css" %}">

<h1 align="center">Trackermap Checklist</h1>

<div class="container">
<h3>The Tracker Maps have to be produced "manually" run by run:</h3>    
<p /> <ol>
<li style="list-style-type: lower-roman;"> QTestAlarms <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Modules_which_are_BAD_from_quali" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> FEDChannelErrors <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#FED_errors_per_module" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Number of Digis per module <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Number_of_digis_per_module" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Number of Clusters per module <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Number_of_clusters_per_module" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Number of clusters on-track per module <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Number_of_cluster_on_track_per_m" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Mean value for S/N for on-track cluster corrected for the angle <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Mean_value_for_S_N_for_on_track" target="_top">description</a>
</li> <li style="list-style-type: lower-roman;"> Cluster charge / cm from track <a href="https://twiki.cern.ch/twiki/bin/view/CMS/SiStripOfflineDQMHistoDescription#Cluster_charge_per_cm_from_Track" target="_top">description</a>
</li></ol> 
<p />

   
</div>



