{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static "certhelper/img/favicon.png" %}"/>
<title>TkDQM Doc: Trackermap Help</title>

<script src="{% static "certhelper/jquery/jquery.min.js" %}"></script>
<script src="{% static "certhelper/bootstrap/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "certhelper/bootstrap/css/bootstrap.min.css" %}">

<h1 align="center">Trackermap Checklist</h1>

<div class="container">
<h3>Put pants on</h3>    
    <p>These instructions show you how to put your pants on</p>
    <dl>
        <dd>Take the pants and sit down contemplating if your life is worth livingif you need to take your pants on.
            Spend 10 mintues looking at the wall.</dd>
        <dt>Execution:</dt>
        <dd>Come to the conclusion that nothing matters, so you might as well put on your pants.</dd>

    </dl>

<h3>Make some coffee</h3>
    <p>This explains in detail how to aquire coffee in the morning</p>
    <dl>
        <dd>This is straight forward: start making noises in the kitched until you wake up your roommate.</dd>
        <dd>She will then get up and make herself a coffee. Steal it.</dd>
    </dl>

    <h3>Certify trackermap</h3>
    <p>How to do your job</p>
    <dl>
        <dd>Do some stuff</dd>
    </dl>
    
</div>



