{% load i18n %}
{% load account socialaccount %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}

<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="container">
    <form class="form-signin" method="post">
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% provider_login_url "cern" %}">Login with CERN</a>
        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-lg btn-primary center-block" type="submit">Sign in</button>
    </form>
</div>