
<div id="slr-weekly-cert" class="tab-pane fade in active">
    <h3>Weekly Certification</h3>
    <p>
        <ul>
<li>Collisions:
    <ul>
        <li>Prompt-Reco: total number={{ slreport.Collisions.Prompt.number_of_runs }}, Integrated Lumi={{ slreport.Collisions.Prompt.int_lum }}
            <ul><li>BAD runs: total number={{ slreport.Bad.Collisions.Prompt.number_of_runs }}, Integrated lumi={{ slreport.Bad.Collisions.Prompt.int_lum }}</li></ul>
        </li>
        <li>Stream-Express: total number={{ slreport.Collisions.Express.number_of_runs }}, Integrated Lumi={{ slreport.Collisions.Express.int_lum }}
            <ul><li>BAD runs: total number={{ slreport.Bad.Collisions.Express.number_of_runs }}, Integrated lumi={{ slreport.Bad.Collisions.Express.int_lum }}</li></ul>
        </li>
    </ul>
</li>
<li>Cosmics:
    <ul>
    <li>Prompt-Reco: total number={{ slreport.Cosmics.Prompt.number_of_runs }}
        <ul><li>BAD runs: total number={{ slreport.Bad.Cosmics.Prompt.number_of_runs }}</li></ul>
    </li>
        <li>Stream-Express: total number={{ slreport.Cosmics.Express.number_of_runs }}
            <ul><li>BAD runs: total number={{ slreport.Bad.Cosmics.Express.number_of_runs }}</li></ul>
        </li>
    </ul>
</li>
    <li>Central certification:
        <ul>
            <li>list of runs <b>[insert here]</b></li>
            <li>deadline has been met?</li>
        </ul>
    </li>
    </ul>
    </p>
</div>