{% load widget_tweaks %}

<!-- relies on basic_filter.js -->
<div class="container">
    <div class="well" style="margin: 0 auto 10px; width: 800px;">
        <form class="form-inline" method="get">
            <div class="row">
                <div class="col col-sm-2 vcenter text-right">
                    <strong>Date:</strong>
                </div><div class="col col-sm-10 vcenter text-left">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="options" id="radio_day" autocomplete="off" checked> Day
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="options" id="radio_range" autocomplete="off"> Range
                    </label>
                </div>
                <span id="date_day">
                            <button type="button" class="btn btn-default" onclick="setFilterDateToAll()">All</button>
                            <button type="button" class="btn btn-default" onclick="setFilterDateToToday()">Today</button>
                            {% render_field filter.form.date %}
                        </span>

                <span id="date_range" style="display: none;">
                            {% render_field filter.form.date_range %}
                        </span>

                <span id="filter-button-top">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-filter"></span> Filter
                        </button>
                    </span>
            </div>
            </div>

            <div id="more" class="collapse">
                <div class="row top-buffer">
                    <div class="col col-sm-2 vcenter text-right">
                        <strong>Category:</strong>
                    </div><div class="col col-sm-10 vcenter text-left">
                    {% render_field filter.form.category|add_class:"form-control" %}
                    {% render_field filter.form.subcategory|add_class:"form-control" %}
                    {% render_field filter.form.subsubcategory|add_class:"form-control" %}
                </div>
                </div>
                <div class="row top-buffer">
                    <div class="col col-sm-2 vcenter text-right">
                        <strong>Run numbers:</strong>
                    </div><div class="col col-sm-10 vcenter text-left">
                    {% render_field filter.form.runs %}
                </div>
                </div>

                <div class="row top-buffer">
                    <div class="col col-sm-2 vcenter text-right">
                        <strong>Run type:</strong>
                    </div><div class="col col-sm-10 vcenter text-left">
                    {% render_field filter.form.type %}
                </div>
                </div>
            </div>

            <div id="filter-button-bottom"  class="row top-buffer" style="display: none">
                <div class="col col-sm-6 text-left">
                    <button type="button" class="btn btn-danger" id="clear-filters">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                </div>
                <div class="col col-sm-6 text-right">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>

            <div class="row top-buffer" style="margin-bottom: -15px">
                <div class="col col-sm-12 text-center">
                    <button type="button" id="show-filter-btn" class="btn btn-xs">
                        <span class="glyphicon glyphicon-menu-down"></span> Show More
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>