{% for checklist in form.checklists %}
    {% if checklist.items %}
        <tr>
            <td>{{checklist.name}} </td>
            <td colspan="2">

                {% for item in checklist.items %}
                    <label style="font-weight: normal" title="{{ item.help_text }}">
                        {{ item }} {{ item.label }} {{ item.modal_name }}
                        {% if item.modal_name %}
                            <button type="button"
                                    class="btn btn-link btn-sm"
                                    data-toggle="modal"
                                    data-target="#modal-{{ item.modal_name }}-id">
                                [Show]
                            </button>
                        {% endif %}
                    </label>
                    <br/>
                {% endfor %}
            </td>
        </tr>
    {% endif %}
{% endfor %}
