
{% url "certhelper:list" as listruns_url %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">

            {% if user.is_authenticated %}
                <li><a href="{% url 'certhelper:create' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add Run</a></li>

                {% if request.path ==  listruns_url %}
                    <li><a href="{% url 'certhelper:summary' %}{{ filter_parameters }}"><span class="glyphicon glyphicon-list-alt"></span> Generate Summary</a></li>
                {% endif %}

                {% if user.is_staff %}
                    <li><a href="{% url 'certhelper:shiftleader' %}"><span class="glyphicon glyphicon-list"></span> Shift Leader</a></li>
                {% endif %}

                <li><a href="{% url 'certhelper:list' %}{{ filter_parameters }}"><span class="glyphicon glyphicon-th-list"></span> List of Certified Runs</a></li>

                <li><a href="{% url 'certhelper:references' %}"><span class="glyphicon glyphicon-pushpin"></span> List of reference runs</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench"></span> Tools<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'certhelper:compute-luminosity' %}">Compute Luminosity</a></li>
                        <li><a href="{% url 'certhelper:view-runregistry' %}">View Run Registry</a></li>
                        <li><a href="{% url 'certhelper:view-lumisections' %}">View Lumi Sections</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">

            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-cog"></span> Admin Settings</a></li>
            {% endif %}
            <li><a href="{% url 'certhelper:help' %}"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>

            {% if not user.is_authenticated %}
                {% load socialaccount %}
                <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
                <li><a href="{% url 'certhelper:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout {{ request.user.username }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
