
{% url "certhelper:shiftleader" as shiftleader_url %}

<div class="container-fluid" style="margin-top: 15px">
    <div class="row">
        <div class="col col-sm-6">
            {% if not user.is_authenticated %}
                <!-- Dont show any buttons if the user is not logged in -->
            {% else %}
                <a href="{% url 'certhelper:create' %}" type="button" class="btn btn-link"><span
                        class="glyphicon glyphicon-plus-sign"></span> Add Run</a>

                {% if request.path !=  shiftleader_url %}
                    <a href="{% url 'certhelper:summary' %}{{ filter_parameters }}" type="button"
                       class="btn btn-link"><span
                            class="glyphicon glyphicon-list-alt"></span> Generate Summary</a>
                {% endif %}

                {% if user.is_staff %}
                    {% if request.path ==  shiftleader_url %}
                        <a href="{% url 'certhelper:list' %}{{ filter_parameters }}" type="button"
                           class="btn btn-link"><span
                                class="glyphicon glyphicon-th-list"></span> List of Certified Runs</a>
                    {% else %}
                        <a href="{% url 'certhelper:shiftleader' %}" type="button"
                           class="btn btn-link"><span
                                class="glyphicon glyphicon-list"></span> Shift Leader</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'certhelper:references' %}" type="button" class="btn btn-link"><span
                        class="glyphicon glyphicon-pushpin"></span> List of reference runs</a>

                <span class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-wrench"></span> Tools <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'certhelper:compute-luminosity' %}">Compute Luminosity</a></li>
                    </ul>
                </span>

            {% endif %}
        </div>
        <div class="col col-sm-6 text-right">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %} " type="button" class="btn btn-link"><span
                        class="glyphicon glyphicon-cog"></span> Admin Settings</a>
            {% endif %}

            <a href="{% url 'certhelper:help' %}" type="button" class="btn btn-link"><span
                    class="glyphicon glyphicon-question-sign"></span> Help</a>
            {% if not user.is_authenticated %}
                {% load socialaccount %}
                <a href="/accounts/login" type="button"
                   class="btn btn-link"><span
                        class="glyphicon glyphicon-user"></span> Login</a>
            {% else %}
                <a href="{% url 'certhelper:logout' %}" type="button" class="btn btn-link"><span
                        class="glyphicon glyphicon-off"></span> Logout {{ request.user.username }}</a>
            {% endif %}
        </div>
    </div>
</div>