{% with 'monday tuesday wednesday thursday friday saturday sunday' as weekdays %}

    <ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
        {% comment %} TODO: LHC Fills
        <li class="active"><a data-toggle="tab" href="#slr-lhc-fills">LHC Fills</a></li>
        {% endcomment %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Day by day <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for weekday in weekdays.split %}
                    <li><a data-toggle="tab" href="#slr-{{ weekday }}">{{ weekday|title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="active"><a data-toggle="tab" href="#slr-weekly-cert">Weekly Certification</a></li>
    </ul>

    <div class="tab-content">
        {% comment %} TODO: LHC Fills
        {% include "certhelper/components/shiftleader/lhc-fills.html" %}
        {% endcomment %}
        {% include "certhelper/components/shiftleader/day-by-day.html" %}
        {% include "certhelper/components/shiftleader/weekly-cert.html" %}
    </div>
{% endwith %}