table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    border: 1px solid black;    
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

td {
    border: 1px solid black;    
    padding: 5px;    
}