<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1 align="center">Start new session</h1>
<h3 align="center">
Starting a new session will delete the current table of runs.</br>
Do you wish to continue?
</h3>

<form action="{% url 'certhelper:clearsession' %}" method="post" align="center">
        {% csrf_token %}        
        <button type="submit" class="btn btn-default">Yes </button>
        <button type="button" class="btn btn-default "onclick="location.href='{% url 'certhelper:list' %}'">No</button>
</form>