{% load static %}
<script src="{% static "certhelper/jquery/jquery.min.js" %}"></script>
<script src="{% static "certhelper/bootstrap/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "certhelper/bootstrap/css/bootstrap.min.css" %}">

<h1 align="center">New Session</h1>
</br>
<h4 align="center">
Starting a new session will delete the current table of runs.</br>
Do you wish to continue?
</h4>

<div align="center">
<form action="{% url 'certhelper:clearsession' %}" method="post">
        {% csrf_token %}        
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default "onclick="location.href='{% url 'certhelper:list' %}'"><span class="glyphicon glyphicon-remove-sign"></span> No</button>
</form>
</div>