{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<center><h2>Run Information Detail</h2></center>

<h3>{{runinfo.title}}</h3>


The following is the copy pasta for the elog: </br></br>
<pre>
============Reference Runs===========
1. {{runinfo.reference_run}}


============Special Comments===========
{{runinfo.comment}}
=======================================

</pre>

<a href="/admin/certhelper/runinfo/{{runinfo.id}}/change/">Edit</a>
<br>
<br>
<br>
<a href="{% url 'certhelper:list' %}">Back list of runs</a>
