<h2>List of all Runs</h2>

</br></br>
<!-- Table -->
<div> 
        
<table border="1" width="90%">
    <tr>
        <th>Run</th>
        <th>number of LS</th> 
        <th>Int. Luminosity</th>
        <th>Pixel</th>
        <th>SiStrip</th>
        <th>Tracking</th>
    </tr>

    {% for runinfo in list %}
    <tr>
        <td>{{runinfo.run_number }}</td>
        <td>{{runinfo.number_of_ls}}</td>
        <td>{{runinfo.integrated_luminosity}}</td>
        <td>{{runinfo.pixel}}</td>
        <td>{{runinfo.sistrip}}</td>
        <td>{{runinfo.tracking}}</td>
        <td><a href="{% url 'certhelper:update' runinfo.id %}">Edit</a></td>                    
        <td><a href="{% url 'certhelper:delete' runinfo.id %}">Delete</a></td>                    
    </tr>
    {% endfor %}

<!-- Elog Style output -->
<!-- Probably best way is to have a query to the db -->
</table>
<input type="button" onclick="location.href={% url 'certhelper:create' %};" value="Add new Run"/>
<input type="button" onclick="location.href='#'" value="Generate Elog"/>

</div>