{% load static %}
<link rel="stylesheet" href="{% static "certhelper/style.css" %}" />

<h2>List of Runs</h2>

<a href="{% url 'certhelper:references' %}">Available References</a>
</br></br></br></br>

{% load render_table from django_tables2 %}
{% render_table table %}

<input type="button" onclick="location.href={% url 'certhelper:create' %};" value="Add new Run"/>
<input type="button" onclick="location.href={% url 'certhelper:summary' %};" value="Generate Summary"/>

</br></br></br></br>
<input type="button" onclick="location.href={% url 'certhelper:clearsession' %};" value="Start a new session"/>

