{% extends "certhelper/base.html" %}

{% block title %}RunRegistry{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "certhelper/css/runinfo_table.css" %}" type="text/css">
    <style>
        td > span.glyphicon-ok {
            color: #4CAF50;
        }

        td > span.glyphicon-remove {
            color: red;
        }

    </style>

{% endblock %}

{% block content %}
    {% include "certhelper/components/menu.html" %}

    <div class="container">
        <h1 class="text-center">View Lumi Sections*</h1>
        <small>*from Run Registry</small>
        <div class="well">
            <form class="form-horizontal" method="POST">{% csrf_token %}

                <div class="form-group">
                    {% comment %}
                    <div class="row">
                        <label class="col-sm-2 control-label">Run Number Range</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_min" step="1" id="id_run_min" placeholder="Min">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" name="run_max" step="1" id="id_run_max" placeholder="Max">
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    {% endcomment %}
                    <div class="row top-buffer">
                        <label class="col-sm-2 control-label">Run Number List</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="run_list" step="1" id="id_run_list" placeholder="List of run numbers">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center top-buffer">
                        <button type="submit" class="btn btn-primary">Show</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% if table %}
            {% load render_table from django_tables2 %}
            {% render_table table %}
        {% endif %}

    </div>
{% endblock %}