<h2>Delete Run</h2>
<a href="{% url 'certhelper:index' %}">Back to index</a>


<form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this RunInfo?</p>
        <table border="1" width="100%">
                <tr>
                    <th>Run</th>
                    <th>number of LS</th> 
                    <th>Int. Luminosity</th>
                    <th>Pixel</th>
                    <th>SiStrip</th>
                    <th>Tracking</th>
                    <th>Comments</th>
                </tr>     
                <tr>
                    <td>{{object.run_number }}</td>
                    <td>{{object.number_of_ls}}</td>
                    <td>{{object.integrated_luminosity}}</td>
                    <td>{{object.pixel}}</td>
                    <td>{{object.sistrip}}</td>
                    <td>{{object.tracking}}</td>
                    <td>{{object.comment}}</td>                   
                </tr>
            </table>
        <input type="submit" value="Confirm" />
</form>