{% extends 'certhelper/base.html' %}
{% block title %}List{% endblock %}

{% load widget_tweaks %}
{% load bootstrap3 %}
{% load form_tags %}
{% load static %}

{% block style %}
    <style>
        .add-type {
            color: green;
        }

        .problem_categories{
            overflow-y: scroll;
            height:200px;
        }

        .bottom-buffer {
            margin-bottom: 5px;
        }

        .checklist {
            margin-top: 5px;
        }

        .no-bold-label {
            font-weight: normal !important;
        }

        /*
         * for the dynamic list of ref runs in
         *  drop-down menu based on selected type
         */
        select option[disabled] {
            display: none;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </p>

        <form class="well form-horizontal" method="POST" action=""> {% csrf_token %}
            {# TODO change title when editing Run #}
            <legend style="text-align: center;"><h1>Add new Run</h1></legend>

            {# Run type #}
            <div class="form-group">
                {# Checkboxes to filter Type (Collisions, Cosmics, Prompt, ... #}
                {% include 'certhelper/components/runinfo_form/runtype_checkboxes.html' %}

                <label class="col-sm-3 control-label" for="id_{{ form.type.name }}">
                    {{ form.type.label }}
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        {% render_field form.type class="form-control" %}
                        <span class="input-group-btn">
                            {# TODO Add Type as modal instead of different page but with option as different page #}
                            <button class="btn btn-default"
                                    type="button"
                                    onclick="location.href='{% url 'certhelper:createtype' %}'">
                                <span class="glyphicon glyphicon-plus-sign add-type"></span> Add
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            {# Reference run #}
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 bottom-buffer">
                    <div class="checkbox">
                        <label class="col-sm-6">
                            <input type="checkbox"
                                   name="match_type"
                                   id="id_match_type"
                                   checked> Match Type
                        </label>
                    </div>
                </div>
            </div>
            {% bootstrap_field form.reference_run field_class="col-sm-6" label_class="col-sm-3"%}

            {# Run number #}
            <div class="form-group">
                {% render_label_and_field_for form.run_number %}
                {% render_checklist_checkbox form.checklists.general %}
            </div>

            {# Trackermap #}
            <div class="form-group">
                {% render_label_and_field_for form.trackermap %}
                {% render_checklist_checkbox form.checklists.trackermap %}
            </div>

            {# Number of LS #}
            {% bootstrap_field form.number_of_ls field_class="col-sm-6" label_class="col-sm-3"%}

            {# Int. luminosity #}
            {% bootstrap_field form.int_luminosity field_class="col-sm-6" label_class="col-sm-3" addon_after='pb<sup>-1</sup>'%}

            {# Pixel #}
            <div class="form-group">
                {% render_label_and_field_for form.pixel %}
                {% render_checklist_checkbox form.checklists.pixel %}
                {# {% render_checklist_for form.checklists.pixel %} #}
            </div>

            {# SiStrip #}
            <div class="form-group">
                {% render_label_and_field_for form.sistrip %}
                {% render_checklist_checkbox form.checklists.sistrip %}
                {# {% render_checklist_for form.checklists.sistrip %} #}
            </div>

            {# Tracking #}
            <div class="form-group">
                {% render_label_and_field_for form.tracking %}
                {% render_checklist_checkbox form.checklists.tracking %}
                {# {% render_checklist_for form.checklists.tracking %} #}
            </div>

            {# Categories of Problems #}
            {% bootstrap_field form.problem_categories field_class="problem_categories col-sm-6" label_class="col-sm-3"%}

            {# Comments #}
            {% bootstrap_field form.comment field_class="col-sm-6" label_class="col-sm-3"%}

            {# Date #}
            {% bootstrap_field form.date field_class="col-sm-6" label_class="col-sm-3"%}

            {# Buttons #}
            {% include 'certhelper/components/runinfo_form/form_buttons.html' %}
        </form>
    </div>

    {% render_checklist_modal form.checklists.general %}
    {% render_checklist_modal form.checklists.trackermap %}
    {% render_checklist_modal form.checklists.pixel %}
    {% render_checklist_modal form.checklists.sistrip %}
    {% render_checklist_modal form.checklists.tracking %}
{% endblock %}


{% block script %}
    <script src="{% static "certhelper/components/runinfo_form.js" %}"></script>
    <script>
        $(document).ready(function () {
            /**
             * Popup Checklist modal with items when trying to check a checklist checkbox
             */
            $('[id^="id_checklist_"]').each(function() {
                popupChecklistModal($(this));
            });

            /**
             * Update Type-dropdown-list based on ticked checkboxes
             */
            $("[name='recotype'], [name='runtype'], #id_type").change(function(){
                filterTypeOptionsByCheckboxes();
            });

            /**
             * Update Reference-run-dropdown-list based on selected Type
             */
            $("#id_type, #id_match_type").change(function () {
                updateReferenceRunList()
            });

            /**
             * Update Reference-run-dropdown-list on page load
             */
            updateReferenceRunList();
        });
    </script>
{% endblock script %}