<h2>Delete Run</h2>
<form action="" method="post">{% csrf_token %}
        <p>Do you want to delete: </p>
        <table border="1" width="100%">
                <tr>
                    <th>Run</th>
                    <th>number of LS</th> 
                    <th>Int. Luminosity</th>
                    <th>Pixel</th>
                    <th>SiStrip</th>
                    <th>Tracking</th>
                </tr>     
                <tr>
                    <td>{{object.run_number }}</td>
                    <td>{{object.number_of_ls}}</td>
                    <td>{{object.integrated_luminosity}}</td>
                    <td>{{object.pixel}}</td>
                    <td>{{object.sistrip}}</td>
                    <td>{{object.tracking}}</td>
                </tr>
            </table>
        <input type="submit" value="Yes" />
        <input type="button" onclick="location.href='{% url 'certhelper:list' %}'" value="No"/>
</form>