{% extends 'certhelper/base.html' %}
{% block title %}List{% endblock %}

{% load widget_tweaks %}
{% load bootstrap3 %}
{% load form_tags %}
{% load static %}

{% block style %}
    <style>
        .add-type {
            color: green;
        }

        .problem_categories{
            overflow-y: scroll;
            height:200px;
        }

        .bottom-buffer {
            margin-bottom: 5px;
        }

        .checklist {
            margin-top: 5px;
        }

        /*
         * for the dynamic list of ref runs in
         *  drop-down menu based on selected type
         */
        select option[disabled] {
            display: none;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </p>

        <form class="well form-horizontal" method="POST" action="" id="id_runinfo_form">
            {% csrf_token %}
            {# TODO change title when editing Run #}
            <legend style="text-align: center;"><h1>Add new Run</h1></legend>

            {# Run type #}
            <div class="form-group">
                {# Checkboxes to filter Type (Collisions, Cosmics, Prompt, ... #}
                {% include 'certhelper/components/runinfo_form/runtype_checkboxes.html' %}

                <label class="col-sm-3 control-label" for="id_{{ form.type.name }}">
                    {{ form.type.label }}
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        {% render_field form.type class="form-control" %}
                        <span class="input-group-btn">
                            {# TODO Add Type as modal instead of different page but with option as different page #}
                            <button class="btn btn-default"
                                    id="id_add_type"
                                    type="button"
                                    onclick="location.href='{% url 'certhelper:createtype' %}'">
                                <span class="glyphicon glyphicon-plus-sign add-type"></span> Add
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            {# TODO add "Add Reference Run" button #}
            {# Reference run #}
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 bottom-buffer">
                    <div class="checkbox">
                        <label class="col-sm-6">
                            <input type="checkbox"
                                   name="match_type"
                                   id="id_match_type"
                                   checked> Match Type
                        </label>
                    </div>
                </div>
            </div>

            {# Reference run #}
            <div class="form-group">
                {% render_label_and_field_for form.reference_run %}
                <div class="col-sm-3"></div>
                <div class="col-sm-offset-3 col-sm-9 ">
                    <small class="form-text text-muted">
                        Can be taken from the <a href="https://twiki.cern.ch/twiki/bin/view/CMS/TrackerOfflineReferenceRuns" target="_blank">Tracker Offline Reference Runs List</a> twiki page
                    </small>
                </div>
            </div>

            {# Run number #}
            <div class="form-group">
                {% render_label_and_field_for form.run_number %}
                <div id="id_run_number_helptext" class="col-sm-3 help-block"></div>
                {% render_checklist_checkbox form.checklists.general not_required=checklist_not_required %}
            </div>

            {# Trackermap #}
            <div class="form-group">
                {% render_label_and_field_for form.trackermap %}
                {% render_checklist_checkbox form.checklists.trackermap not_required=checklist_not_required %}
            </div>

            {# Number of LS #}
            {% bootstrap_field form.number_of_ls field_class="col-sm-6" label_class="col-sm-3"%}

            {# Int. luminosity #}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="id_int_luminosity">Int luminosity</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        {% render_field form.int_luminosity class="form-control" %}
                        <span class="input-group-addon">pb<sup>-1</sup></span>
                    </div>
                </div>
                <div id="id_int_luminosity_helptext" class="col-sm-3 help-block"></div>
                <div class="col-sm-offset-3 col-sm-9 ">
                    <small class="form-text text-muted">
                        Can be taken from <a id="id_cmswbm_link" href="https://cmswbm.cern.ch/cmsdb/servlet/RunSummary" target="_blank">WBM Run Summary</a> under "Run Live Lumi"
                    </small>
                </div>
            </div>

            {# Pixel #}
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.pixel.label }}</label>
                <div class="col-sm-6">
                    <div class="row bootstrap3-multi-input">
                        <div class="col-xs-10">
                            {% render_field form.pixel class="form-control" %}
                        </div>
                        <div class="col-xs-2 checkbox">
                            <label>
                                {% render_field form.pixel_lowstat class="form-check-input" %}
                                Lowstat
                            </label>
                        </div>
                    </div>
                </div>
                {% render_checklist_checkbox form.checklists.pixel not_required=checklist_not_required%}
            </div>

            {# SiStrip #}
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.sistrip.label }}</label>
                <div class="col-sm-6">
                    <div class="row bootstrap3-multi-input">
                        <div class="col-xs-10">
                            {% render_field form.sistrip class="form-control" %}
                        </div>
                        <div class="col-xs-2 checkbox">
                            <label>
                                {% render_field form.sistrip_lowstat class="form-check-input" %}
                                Lowstat
                            </label>
                        </div>
                    </div>
                </div>
                {% render_checklist_checkbox form.checklists.sistrip not_required=checklist_not_required%}
            </div>

            {# Tracking #}
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ form.tracking.label }}</label>
                <div class="col-sm-6">
                    <div class="row bootstrap3-multi-input">
                        <div class="col-xs-10">
                            {% render_field form.tracking class="form-control" %}
                        </div>
                        <div class="col-xs-2 checkbox">
                            <label>
                                {% render_field form.tracking_lowstat class="form-check-input" %}
                                Lowstat
                            </label>
                        </div>
                    </div>
                </div>
                {% render_checklist_checkbox form.checklists.tracking not_required=checklist_not_required%}
            </div>

            {# Categories of Problems #}
            {% bootstrap_field form.problem_categories field_class="problem_categories col-sm-6" label_class="col-sm-3"%}

            {# Comments #}
            {% bootstrap_field form.comment field_class="col-sm-6" label_class="col-sm-3"%}

            {# Date #}
            {% bootstrap_field form.date field_class="col-sm-6" label_class="col-sm-3"%}

            {# Buttons #}
            {% include 'certhelper/components/runinfo_form/form_buttons.html' %}
        </form>
    </div>

    {% render_checklist_modal form.checklists.general %}
    {% render_checklist_modal form.checklists.trackermap %}
    {% render_checklist_modal form.checklists.pixel %}
    {% render_checklist_modal form.checklists.sistrip %}
    {% render_checklist_modal form.checklists.tracking %}
{% endblock %}


{% block script %}
    <script src="{% static "certhelper/js/runinfo_form.js" %}"></script>
    <script>
        $(document).ready(function () {
            /**
             * Popup Checklist modal with items when trying to check a checklist checkbox
             */
            $('[id^="id_checklist_"]').each(function() {
                popupChecklistModal($(this));
            });

            /**
             * Update Type-dropdown-list based on ticked checkboxes
             */
            $("[name='recotype'], [name='runtype'], #id_type").change(function(){
                filterTypeOptionsByCheckboxes();
            });

            /**
             * Update Reference-run-dropdown-list based on selected Type
             */
            $("#id_type, #id_match_type").change(function () {
                updateReferenceRunList()
            });

            /**
             * Update Reference-run-dropdown-list on page load
             */
            updateReferenceRunList();

            /**
             * Round the number of decimal places for int luminosity
             */
            let int_luminosity = $('#id_int_luminosity');
            int_luminosity.on('focusout',function(){
                if(int_luminosity.val() !== "") {
                    const rounded = parseFloat(int_luminosity.val()).toFixed(1);
                    int_luminosity.val(rounded);
                }
            });

            /**
             * Update the cmsbwm link in the help text for the int luminosity
             */
            let run_number = $('#id_run_number');
            run_number.on('input',function(){
                $('#id_cmswbm_link').attr("href", "https://cmswbm.cern.ch/cmsdb/servlet/RunSummary?RUN=" + $(this).val());
            });

            /**
             * Validate the run number
             */
            run_number.on('input',function(){
                let form_group = $(this).closest(".form-group");
                let reference_run_number = $("#id_reference_run option:selected").text().toLowerCase().split(' ')[0];
                let help_text = $("#id_run_number_helptext");
                if($(this).val() < 300000){
                    form_group.removeClass("has-success");
                    form_group.removeClass("has-warning");
                    form_group.addClass("has-error");
                    help_text.text("Run number is too low");
                } else if($(this).val() > 999999){
                    form_group.removeClass("has-success");
                    form_group.removeClass("has-warning");
                    form_group.addClass("has-error");
                    help_text.text("Run number is too high");
                } else if(Math.abs(reference_run_number -  $(this).val()) > 6000) {
                    form_group.removeClass("has-success");
                    form_group.removeClass("has-error");
                    form_group.addClass("has-warning");
                    help_text.text("Run number seems odd. Please check");
                } else {
                    form_group.removeClass("has-warning");
                    form_group.removeClass("has-error");
                    form_group.addClass("has-success");
                    help_text.text("");
                }
            });

            /**
             * Validate the integrated luminosity
             */
            int_luminosity.on('input',function(){
                let form_group = $(this).closest(".form-group");
                let runtype = $("#id_type option:selected").text().toLowerCase().split(' ')[1];
                let help_text = $("#id_int_luminosity_helptext");
                if(runtype == "cosmics" && $(this).val() > 0){
                    form_group.removeClass("has-success");
                    form_group.removeClass("has-error");
                    form_group.addClass("has-warning");
                    help_text.text("You certify a cosmics run. Are you sure about this value?");
                } else {
                    form_group.removeClass("has-warning");
                    form_group.removeClass("has-error");
                    form_group.addClass("has-success");
                    help_text.text("");
                }
            });

            /**
             * Remove green borders (from validation) when jumping to the next field
             */
            $("#id_run_number, #id_int_luminosity").focusout(function(){
                let form_group = $(this).closest(".form-group");
                if(form_group.hasClass("has-success"))
                    form_group.removeClass("has-success");
            });

            /**
             * Use the lowstat checkbox instead of the dropdown option
             * Lowstat choice is still available because of historic reasons.
             * This might be removed in future.
             */
            $('option[value="Lowstat"]').each(function () {
                if(!$(this).is(":selected")){
                    // Remove if not selected, to not break old certifications
                    $(this).remove();
                }
            });

            const components = "[name='pixel'], [name='sistrip'], [name='tracking']";
            /**
             * Disable lowstat checkbox when 'Excluded' is selected
             */
            $(components).change(function(){
                const component_id = $(this).attr('id');
                disable_lowstat_for_excluded_components(component_id);
            });

            /**
             * Disable lowstat checkboxes on page load where necessary
             */
            $(components).each(function(){
                const component_id = $(this).attr('id');
                disable_lowstat_for_excluded_components(component_id);
            });

            function disable_lowstat_for_excluded_components(component_id){
                const selector = "#" + component_id + " option:checked";
                const option = $(selector).val();
                const lowstat_selector = "#" + component_id + "_lowstat";
                if(option === "Excluded"){
                    $(lowstat_selector).prop('disabled', true);
                } else {
                    $(lowstat_selector).prop('disabled', false);
                }
            }
        });
    </script>
{% endblock script %}