<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1 align="center">Summary</h1>
{% regroup sorted_by_type by type_id as type_list %}
{% regroup sorted_by_type by trackermap as trackermap_list %}
<pre>
=============Reference Runs===============
{% for r in refs%}
    {{r}}
{% endfor %}

=============Runs Checked=================
{% for type_id in type_list%} {% for item in type_id.list %} 
        {% if forloop.first %}
Type {{ forloop.parentloop.counter }}: {{item.type.reco}}
Dataset {{ forloop.parentloop.counter}}: {{item.type.dataset}}

  Run	 Ref  #ls  int_lum   pi  st   tr   comment
        {% endif %}
 {{ item.run_number }} {{ item.reference.reference_run }}   {{ item.number_of_ls }}   {{ item.integrated_luminosity }}   {{ item.pixel }} {{ item.sistrip }} {{ item.tracking }}  {{item.comment}}{% endfor %}
------------------------------------------
{% endfor %}

=============Tracker Maps=================
Produced maps:
{% for trackermap in type_list%}
{% for item in trackermap.list %}{% if forloop.first %} Type {{forloop.parentloop.counter}}:{% endif %}{% if item.trackermap == "Exists" %} {{item}}{% endif %}{% endfor %}{% endfor %}


To be produced:
{% for trackermap in type_list%}
{% for item in trackermap.list %}{% if forloop.first %} Type {{forloop.parentloop.counter}}:{% endif %}{% if item.trackermap == "Missing" %} {{item}}{% endif %}{% endfor %}{% endfor %}
=============HDQM Trends==================
=============Special Comments=============
{{sorted_by_type}}


-------------List of Certified Runs-------


          >>>> COMMENT HERE <<<<          
</pre>