{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static "certhelper/img/favicon.png" %}"/>
<title>TkDQM Doc: Summary</title>

<script src="{% static "certhelper/jquery/jquery.min.js" %}"></script>
<script src="{% static "certhelper/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "certhelper/ascii-table/ascii-table.min.js" %}"></script>
<link rel="stylesheet" href="{% static "certhelper/bootstrap/css/bootstrap.min.css" %}">

<h1 align="center">Summary</h1>
<a href="{% url 'certhelper:list' %}" class="btn btn-link">Back to list of runs</a>
<a href="#comment_div" class="btn btn-link" onclick="show_special_comment_area()"><span class="glyphicon glyphicon-comment"></span> Add Special Comment</a>  
</br>

{% regroup sorted_by_type by type_id as type_list %}
{% regroup sums by type_id as sums_regroup %}
{% regroup tkmap by type_id as tkmap_regroup %}
{% regroup certified by type_id as certified_regroup %}

<!-- **INFO** When is a RUN marked as 'Good'?
Depends on runtype:
| - - - - - - - - - - - - - - - - - - - - - - - - - - |
|-(Collisions) pixel    = (Good OR Lowstat)   AND     |      
|              sistrip  = (Good OR Lowstat)   AND     |
|              tracking = (Good OR Lowstat)           |
| - - - - - - - - - - - - - - - - - - - - - - - - - - |
|-(Cosmics)    sistrip  = (Good OR Lowstat)   AND     |   
|              tracking = (Good OR Lowstat)           |
 - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<pre id=summary>
=============Reference Runs===============
{% for ref in refs%}{{ref}}
{% endfor %}
=============Runs Checked================
<script>
    {% for type_id in type_list%}

    var table = new AsciiTable()
    table.setHeading("Run", "Reference Run","Number of LS", "Int. Luminosity", "Pixel", "Strip", "Tracking", "Comment")
    
    {% for item in type_id.list %}
        {% if forloop.first %}
            document.write("Type {{ forloop.parentloop.counter }}: {{item.type}}\n")
        {% endif %}

    table.addRow('{{ item.run_number }}',
                '{{ item.reference_run.reference_run }}',
                '{{ item.number_of_ls }}',
                '{{ item.int_luminosity }}',
                '{{ item.pixel }}',
                '{{ item.sistrip }}',
                '{{ item.tracking }}',
                '{{item.comment}}')

    {% endfor %}
    document.write(table.toString())
    document.write("\n\n")
{% endfor %}  
</script>
=============Tracker Maps=================
{% for t in tkmap_regroup%}
Type {{forloop.counter}}: {% regroup t.list by trackermap as tmpi %}
{% for a in tmpi%} {% if a.grouper == "Exists" %}Produced{%else%}Todo    {%endif%}: {% for item in a.list %}{{item.run_number}}  {% endfor %}
{% endfor %}{% endfor %}
=============HDQM Trends==================
=============Certified Runs===============
{% for t in certified_regroup%}
Type {{forloop.counter}}: {% regroup t.list by good as tmpi %} 
{% for a in tmpi%} {%if a.grouper%}Good{%else%}Bad {%endif%}: {% for item in a.list %}{{item.run_number}}  {% endfor %}
{% endfor %}{% endfor %}
=============Sum of Quantities============
<script>
{% for t in sums_regroup%}
    var table = new AsciiTable()
    {% for item in t.list %}
    {%if forloop.first%}     table.setHeading("Type {{forloop.parentloop.counter}}", "Sum of LS", "Sum of int. luminosity"){%endif%}
    table.addRow('{% if item.good %}Good{%else%}Bad {%endif%}','{{item.sum_number_of_ls}}', '{{item.sum_int_luminosity}}')
    {% endfor %}
    document.write(table.toString() + '\n')
{% endfor %}
</script><div id=comment_div style="display: none;">
=============Special Comments=============     
<p id=specialcomment_text></p><div id=formarea><textarea rows="4" cols="40" id=special_comment_textarea form="usrform" placeholder="Enter text here" ></textarea>
<div align="center"><button type="button" class="btn btn-default" onclick="write_to_comment_area()"><span class="glyphicon glyphicon-ok"></span> Apply</button> <button type="button" class="btn btn-default" onclick="hide_comment_area()"><span class="glyphicon glyphicon-remove"></span> Remove</button></div></div></div>
</pre>


<script>
        function show_special_comment_area() { 
            $('#comment_div').css('display', 'inline-block');
            $('#formarea').css('display', 'inline-block');
            $('#specialcomment_text').css('display', 'None'); 
        }
        
        function write_to_comment_area() { 
            var t = $('#special_comment_textarea').val();
            $('#specialcomment_text').html(t); 
            $('#formarea').css('display', 'None');
            $('#specialcomment_text').css('display', 'inline-block');
            }
    
        function hide_comment_area() {
            $('#comment_div').css('display', 'None'); 
        }
    </script>
