<div class="row">
    <div class="col-sm-offset-3 col-sm-6 bottom-buffer">
        <div class="checkbox">
            <div class="col-sm-5">
                <label class="col-md-6 col-sm-12 col-xs-12">
                    <input type="checkbox" name="runtype" value="collisions">Collisions
                </label>
                <label class="col-md-6 col-sm-12 col-xs-12">
                    <input type="checkbox" name="runtype" value="cosmics">Cosmics
                </label>
            </div>

            <div class="col-sm-7">
                <label class="col-md-4 col-sm-12 col-xs-12">
                    <input type="checkbox" name="recotype" value="prompt">Prompt
                </label>
                <label class="col-md-4 col-sm-12 col-xs-12">
                    <input type="checkbox" name="recotype" value="express">Express
                </label>
                <label class="col-md-4 col-sm-12 col-xs-12">
                    <input type="checkbox" name="recotype" value="rereco">reReco
                </label>
            </div>
        </div>
    </div>
</div>